.shadow-small {
  box-shadow: $box-shadow-small !important;
}

.shadow {
  box-shadow: $box-shadow !important;
}

.shadow-large {
  box-shadow: $box-shadow-large !important;
}

.shadow-none {
  box-shadow: none !important;
}
