{# Template for any scripted graphics, i.e. D3 charts #}
{% extends 'base-embed.html' %}
{% from 'macros/prose.html' import prose %}

{# set pack that provides JS #}
{% set jsPackName = 'main-embed' %}

{# data.text --> data/text.json #}
{% set context = data.text %}

{# data.data --> data/data.json #}
{% set graphicData = data.data %}

{# graphicAltText is used by the CMS for accessibility #}
{% set graphicAltText = context.alttext %}

{# graphics will be surfaced in the graphics plugin under these tags #}
{% set graphicTags = context.guten_tags %}

{% block content %}
{# data-graphic signifies that this can be embedded in the CMS #}
<div class="app" data-graphic>
  {# data-title is used to grab the title in the CMS #}
  <h1 class="graphic-title" data-title>{{ context.headline | widont }}</h1>
  {# data-caption is used to grab the caption in the CMS #}
  <span data-caption>{{ prose(context.embed_prose, context, graphicData, 'embed') }}</span>

  {# container that JS is attached to #}
  <div id="graphic" class="graphic"></div>

  {# data-source, data-credit, and data-note are also used in the CMS #}
  <ul class="graphic-footer">
    {% if context.embed_note %}<li data-note>Note: {{ context.embed_note }}</li>{% endif %}
    {% if context.embed_source %}<li data-source>Source: {{ context.embed_source }}</li>{% endif %}
    {% if context.embed_credit %}<li data-credit>Credit: {{ context.embed_credit }}</li>{% endif %}
  </ul>
</div>
{% endblock content %}

{# set data/data.json as a window variable #}
{% block inline_data %}
{% if data.data %}
<script>
  window.DATA = {{ data.data|dump }};
</script>
{% endif %}
{% endblock inline_data %}
