{# for raw and text macros, we can process variables #}
{# you can pass in a custom data context or use the default data object #}
{% macro raw(value, context, data) %}
{{ value | renderStringWithNunjucks(data) }}
{% endmacro %}

{% macro text(value, context, data) %}
<p class="t-copy">{{ value | renderStringWithNunjucks(data) }}</p>
{% endmacro %}

{% macro list(value) %}
<ul class="t-copy c-list">
  {% for item in value %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro subhead(value) %}
<h2 class="t-copy t-copy--subheader">{{ value | widont }}</h2>
{% endmacro %}

{# Simple photo/video embeds here. They will lazy load by default. #}
{% macro image(type, caption, alt_text, url, thumbnail_url, credit) %}
  {% if type == 'video' %}
    <div class="image">
      <div class="video-container">
        <video width="100%" preload="none" autoplay loop muted playsinline poster="{{ thumbnail_url }}">Your browser does not support the video tag.
          <source src="{{ url }}" type="video/mp4">
          <p>{{ alt_text }}</p>
        </video></div>
      <figcaption class="caption">
        <span>{{ caption }}</span>&nbsp;<span class="c-icon">
          <svg area-hidden="true">
            <use xlink:href="#camera"></use>
          </svg>
        </span>&nbsp;<span class="credit">{{ credit }}</span>
      </figcaption>
    </div>
  {% elif type == 'photo' %}
    <div class="image">
      <div class="photo-container">
        <img src="{{ url }}" loading="lazy" alt="{{ alt_text }}" width="100%">
      </div>
      <figcaption class="caption">
        <span>{{ caption }}&nbsp;</span><span class="c-icon">
          <svg area-hidden="true">
            <use xlink:href="#camera"></use>
          </svg></span><span class="credit">&nbsp;{{ credit }}</span>
        </figcaption>
      </div>
  {% endif %}
{% endmacro %}

{# set type to roof for roof ads, footer for footer ads #}
{% macro ad(value, type) %}
<div class="plugin plugin--centered">
  <div class="c-ad-flex_bg--{{ value }}">
    <div class="c-ad-flex__inner">
      <p class="c-ad-flex__thanks">The Texas Tribune thanks its sponsors.
        <a href="https://mediakit.texastribune.org/"><strong>Become one</strong></a>.
      </p>
      <div class="c-ad-flex__unit">
        <div class="dv-gpt-ad {% if type %}dv-gpt-ad-{{ type }}{% endif %}"></div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
