{# for raw and text macros, we can process variables #}
{# you can pass in a custom data context or use the default data object #}
{% macro raw(value, context, data) %}
{{ value | renderStringWithNunjucks(data) }}
{% endmacro %}

{% macro text(value, context, data) %}
<p class="t-copy">{{ value | renderStringWithNunjucks(data) }}</p>
{% endmacro %}

{% macro list(value) %}
<ul>
  {% for item in value %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro subhead(value) %}
<h2 class="t-subheader">{{ value | widont }}</h2>
{% endmacro %}

{# set type to roof for roof ads, footer for footer ads #}
{% macro ad(value, type) %}
<div class="plugin plugin--centered">
  <div class="c-ad-flex_bg--{{ value }}">
    <div class="c-ad-flex__inner">
      <p class="c-ad-flex__thanks">The Texas Tribune thanks its sponsors.
        <a href="https://mediakit.texastribune.org/"><strong>Become one</strong></a>.
      </p>
      <div class="c-ad-flex__unit">
        <div class="dv-gpt-ad {% if type %}dv-gpt-ad-{{ type }}{% endif %}"></div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
