{# Template for any scripted graphics, i.e. D3 charts #}
{% extends 'base.html' %}
{% from 'macros/prose.html' import prose %}

{% block content %}
<div class="app">
  <h1 class="article-title">Welcome to the Texas Tribune's data visuals graphics kit!</h1>
  <p class="copy">
    Start creating graphics by copying <span class="font-weight-bold">graphic.html</span> and/or 
    <span class="font-weight-bold">graphic-static.html</span>, both located in the <span class="font-weight-bold">templates/</span> 
    folder, and pasting it in the <span class="font-weight-bold">app/</span> folder. You can rename the files.
  </p>
  <p class="copy"><span class="font-weight-bold">graphic.html</span> is set up for graphics involving JavaScript</p>
  <p class="copy"><span class="font-weight-bold">graphic-static.html</span> is set up for static graphics (HTML tables, Adobe Illustrator graphics)</p>
  <p class="copy">For more documentation on using the kit, check out the <a href="https://github.com/texastribune/data-visuals-create">README</a>.</p>
</div>
{% endblock content %}
