{# Template for any non-scripted graphics, i.e. Illustrator graphics or HTML tables #}
{% extends 'base.html' %}

{# set pack that provides JS #}
{% set jsPackName = 'static' %}

{# data.text --> data/text.json #}
{% set context = data.text %}
{% set data = data.data %}

{% block content %}
<div class="app">
  <h1 class="graphic-title">{{ context.title | widont }}</h1>
  <p class="graphic-prose">{{ context.prose }}</p>

  {# add name of your ai2html file here #}
  {# {% set ai2html = "" %}
  {% include "ai2html-output/" + ai2html + ".html" %} #}

  <ul class="graphic-footer">
    {% if context.note %}<li>Note: {{ context.note }}</li>{% endif %}
    {% if context.source %}<li>Source: {{ context.source }}</li>{% endif %}
    {% if context.credit %}<li>Credit: {{ context.credit }}</li>{% endif %}
  </ul>
</div>
{% endblock content %}
