{# Template for any non-scripted graphics, i.e. Illustrator graphics or HTML tables #}
{% extends 'base.html' %}
{% from 'macros/prose.html' import prose %}

{# set pack that provides JS #}
{% set jsPackName = 'static' %}

{# data.text --> data/text.json #}
{% set context = data.text %}

{# data.data --> data/data.json #}
{% set graphicData = data.data %}

{# used by the CMS #}
{# if this is an ai2html graphic, fill out these variables #}
{% set graphicTitle = context.headline %}
{% set graphicDesc = 'Description of graphic' %}
{% set graphicSource = context.source %}
{% set graphicCredit = context.credit %}

{% block content %}
{# data-graphic signifies that this can be embedded in the CMS #}
<div class="app" data-graphic>
  {# data-title is used to grab the title in the CMS #}
  <h1 class="graphic-title" data-title>{{ context.headline | widont }}</h1>
  {{ prose(context.prose, context, graphicData) }}

  {# add name of your ai2html file here #}
  {# {% set ai2html = "" %}
  {% include "ai2html-output/" + ai2html + ".html" %} #}

  {# data-source and data-credit are also used in the CMS #}
  <ul class="graphic-footer">
    {% if context.note %}<li data-note>Note: {{ context.note }}</li>{% endif %}
    {% if context.source %}<li data-source>Source: {{ context.source }}</li>{% endif %}
    {% if context.credit %}<li data-credit>Credit: {{ context.credit }}</li>{% endif %}
  </ul>
</div>
{% endblock content %}
