{% macro facebook(href, redirect_uri, app_id=154122474650943, display="popup") %}
https://www.facebook.com/dialog/share?app_id={{ app_id }}&display={{ display }}&href={{ href|urlencode }}&redirect_uri={{ redirect_uri|urlencode }}
{% endmacro %}

{% macro twitter(href, text, hashtags="") %}
https://twitter.com/share?url={{ href|urlencode }}&text={{ text|urlencode }}{% if hashtags %}&hashtags={{ hashtags|urlencode }}{% endif %}
{% endmacro %}

{% macro email(subject, body) %}
mailto:?subject={{ subject|urlencode }}&body={{ body|urlencode }}
{% endmacro %}
