.plugin {
  clear: both;

  .plugin--centered {
    margin: 2.5rem auto;
  }
}

.c-ad-flex_bg--gray {
  align-items: center;
  background-color: $color-white-off-light;
  display: flex;
  height: 320px;
  justify-content: center;
}

.c-ad-flex_bg--none {
  align-items: center;
  display: flex;
  justify-content: center;
}

.c-ad-flex__thanks {
  color: $color-secondary;
  text-align: center;
  font-family: $font-sans-serif;
  font-size: to-rem(11);
  line-height: $line-height-subtitle;
  margin-bottom: 0.85rem;

  strong {
    font-weight: 700;
  }

  > a {
    color: $color-ad-text; // bespoke teal for a11y
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.c-ad-flex__unit {
  background-color: $color-offwhite;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include mq($from: m) {
    height: 90px;
  }
}

.story-ad {
  margin-bottom: $gutter-double;
  margin-left: auto;
  margin-right: auto;
  margin-top: $gutter-double;
  width: 300px;

  @include mq($from: m) {
    width: 728px;
  }
}

.story-ad--left {
  @include mq($from: s) {
    float: left;
    margin-left: 15%;
    margin-right: $gutter-double;
  }
}

.story-ad--right {
  @include mq($from: s) {
    float: right;
    margin-left: $gutter-double;
    margin-right: 15%;
  }
}
