.story-ad {
  margin-bottom: $gutter-double;
  margin-left: auto;
  margin-right: auto;
  margin-top: $gutter-double;
  width: 300px;

  @include mq($from: m) {
    width: 728px;
  }
}

.story-ad--left {
  @include mq($from: s) {
    float: left;
    margin-left: 15%;
    margin-right: $gutter-double;
  }
}

.story-ad--right {
  @include mq($from: s) {
    float: right;
    margin-left: $gutter-double;
    margin-right: 15%;
  }
}

.story-ad__label {
  color: lighten($color-text, 25%);
  font-family: $font-sans-serif;
  font-size: to-rem(11);
  line-height: $line-height-subtitle;
  margin-bottom: $gutter-quarter;

  > a {
    color: $color-tribune-blue;
    text-decoration: none;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.story-ad__container {
  background-color: $color-offwhite;
  height: 250px;
  width: 100%;

  @include mq($from: m) {
    height: 90px;
  }
}
