{% extends 'base.html' %}
{% from 'macros/prose.html' import prose %}
{% from 'macros/ads.html' import ad %}

{% set jsPackName = 'main' %}
{% set context = data.text %}
{% set authorComma = joiner() %}

{% block content %}
<div class="container">
  <header class="article-header text-center">
    <h1 class="article-title">{{ context.title or 'The only member-supported, digital-first, nonpartisan media organization' }}</h1>
    <p class="article-byline">
      <span class="article-author">By {%- for author in context.authors or ['Super Cool Corgi', 'Friends'] -%}
      {% if not loop.last %}{{ authorComma() }}{% elif not loop.first %} and{% endif %} {{ author }}
      {%- endfor -%}
      </span>
      {% if context.update_date %}
      <span class="article-pub-date">Updated: <time datetime="{{ context.update_date }}">{{ apFormatDate(context.update_date) }}</time></span>
      {% else %}
      <span class="article-pub-date"><time datetime="{{ context.pub_date }}">{{ apFormatDate(context.pub_date) }}</time></span>
      {% endif %}
    </p>
  </header>

  {% include 'includes/shares.html' %}

  <div class="intro-prose">
    {{ prose(context.prose, context, data) }}
    <p class="copy">Duis mattis orci a porta maximus. Pellentesque vel pellentesque augue, a condimentum nibh. Integer eget feugiat turpis, at vehicula metus. Vestibulum arcu dui, hendrerit sed purus sed, vulputate aliquam est. Duis quis metus sed odio commodo dapibus. Maecenas pulvinar elit sit amet lorem iaculis blandit. Aliquam vitae sollicitudin urna. Sed viverra tincidunt felis.</p>

    <p class="copy">Curabitur vestibulum sagittis diam, vitae pulvinar lorem accumsan ut. Mauris enim massa, vestibulum sed sollicitudin dapibus, ultrices eget ligula. Aenean tempor mi urna, eu porta tortor vehicula quis. Morbi hendrerit, eros nec interdum tempus, sem purus fringilla leo, ut iaculis urna tortor id diam. Duis laoreet maximus sapien, sed scelerisque sapien volutpat vel. Sed est lacus, sollicitudin nec euismod eu, placerat eget turpis. Quisque ultricies urna et mollis bibendum. Quisque tempus, elit ut faucibus hendrerit, augue enim faucibus massa, eu scelerisque dui eros at dolor. Sed rutrum, ipsum id convallis facilisis, justo ex rhoncus ex, in ultrices nisi augue vitae erat. Donec consequat ipsum ac nunc aliquam, eu porttitor quam viverra. Praesent ultrices, diam eget placerat sodales, magna magna porttitor urna, nec mollis ipsum odio at magna. Nulla ac consectetur turpis. Cras non ligula elementum, aliquet arcu ut, interdum nulla.</p>

    <p class="copy">Nam ornare ante eget erat egestas, eget pulvinar diam tincidunt. Nunc eget ligula ac mi facilisis tempus. Proin molestie nisl at urna pharetra commodo. Praesent tincidunt vestibulum purus, id dictum tortor aliquet ac. Pellentesque semper scelerisque justo ac luctus. Nullam malesuada urna a magna fringilla bibendum. Mauris quis hendrerit nisl, a lacinia lectus.</p>
  </div>
</div>

{{ ad() }}

<div class="related-content" id="related-content-container"></div>

{{ ad() }}

<div id="ribbon-container"></div>
{% endblock content %}

{% block inline_data %}
<script>
  window.ttData = {
    gutenTag: '{{ context.guten_tag or "subject-politics" }}'
  };
</script>
{% endblock inline_data %}
