<div id="brief-promo" class="c-plugin c-plugin--seamless c-plugin--flush">
  <div class="c-plugin__inner">
    <div class="c-prompt c-prompt--box c-prompt--livestream">
      <div class="c-prompt__content t-align-center">
        <img class="c-prompt__img" src="https://static.texastribune.org/media/prompts/promo-brief-logo.png" alt="Logo for The Brief newsletter."> 
        <div class="c-prompt__txt t-size-b t-lsp-s t-lh-m">
          The most important Texas news,<br>sent weekday mornings.
        </div>
        <div class="c-mini-form has-xs-btm-marg" href="https://www.texastribune.org/newsletters/the-brief/">
          <a class="c-mini-form__submit" href="https://www.texastribune.org/newsletters/the-brief/">
            <div id="main-form-submit" aria-label="Sign up" tabindex="0" role="button" aria-pressed="false" class="c-button c-button--s c-sign-up__submit button has-text-black-off l-width-full l-display-block has-bg-yellow">
              Sign up
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>