<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ CURRENT_PAGE_URL }}">
<meta name="description" content="{{ context.summary }}">
<meta name="robots" content="noarchive">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ CURRENT_PAGE_URL }}">
<meta property="og:title" content="{{ context.seo_headline|escape }}">
<meta property="og:type" content="article">
<meta property="article:publisher" content="https://www.facebook.com/texastribune">
<meta property="article:published_time" content="{{ context.pub_date }}">
{% if context.update_date -%}
<meta property="article:modified_time" content="{{ context.update_date }}">
{%- endif %}
<meta property="og:description" content="{{ context.summary }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ staticAbsolute('assets/images/share-art.jpg', true) }}">
<meta property="fb:app_id" content="154122474650943">
<meta name="parsely-title" content="{{ context.headline|escape }}" />
<meta name="parsely-link" content="{{ CURRENT_PAGE_URL }}" />
<meta name="parsely-type" content="post" />
<meta name="parsely-image-url" content="{{ staticAbsolute('assets/images/share-art.jpg', true) }}" />
<meta name="parsely-pub-date" content="{{ context.pub_date }}" />
<meta name="parsely-section" content="{{ context.parsely_section }}" />
{% for author in context.parsely_authors %}
<meta name="parsely-author" content="{{ author }}" />
{% endfor %}
