<br />
<p class="t-copy t-size-b t-links-underlined t-lh-m">
  <span class="c-icon c-icon--baseline t-size-m has-tiny-right-marg">
    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 64 64"
    >
      <path
        fill="#fff"
        d="M60.2 53.8c0 3.5-2.9 6.4-6.4 6.4H10.2c-3.5 0-6.4-2.9-6.4-6.4V10.2c0-3.5 2.9-6.4 6.4-6.4h43.5c3.5 0 6.4 2.9 6.4 6.4v43.6z"
      ></path>
      <g fill="#121212">
        <path
          d="M53.8 0H10.2C4.6 0 0 4.6 0 10.2v43.5C0 59.4 4.6 64 10.2 64h43.5C59.4 64 64 59.4 64 53.8V10.2C64 4.6 59.4 0 53.8 0zm6.4 53.8c0 3.5-2.9 6.4-6.4 6.4H10.2c-3.5 0-6.4-2.9-6.4-6.4V10.2c0-3.5 2.9-6.4 6.4-6.4h43.5c3.5 0 6.4 2.9 6.4 6.4v43.6z"
        ></path>
        <path
          d="M38.3 49.3H25.7c-.3 0-.5-.2-.5-.5V27.3c0-.3-.3-.6-.6-.6H13.5c-.3 0-.5-.2-.5-.5v-11c0-.3.2-.5.5-.5h37.1c.3 0 .5.2.5.5v11.1c0 .3-.2.5-.5.5H39.3c-.3 0-.5.2-.5.5v21.6c0 .2-.2.4-.5.4z"
        ></path>
      </g>
    </svg> </span
  >&nbsp;
  <em>
    <a href="https://www.texastribune.org/about/privacy-policy/"
      >Learn about The Texas Tribune’s policies</a
    >, including our partnership with
    <a
      href="https://www.texastribune.org/about/#trust-project"
      class="l-display-ib"
      >The Trust Project</a
    >
    to increase transparency in news.
  </em>
</p>
