.app a {
  @include default-link;
}

.graphic {
  margin-bottom: $gutter;
}

.graphic-title {
  font-weight: $font-weight-bold;
  font-size: to-rem(18);
  line-height: $line-height-title;
  margin-bottom: $gutter-half;
  text-align: left;
}

.graphic-prose {
  font-size: to-rem(14);
  line-height: $line-height-body;
  margin-bottom: $gutter-half;
}

.graphic-footer {
  color: $color-grey;
  font-size: to-rem(12);
}

.graphic-footer li {
  line-height: $line-height-body;
}
