.app a {
  @include default-link;
}

.graphic {
  margin-bottom: $gutter;
}

.graphic-title {
  font-weight: $font-weight-bold;
  font-size: to-rem(18);
  line-height: $line-height-title;
  text-align: left;
  max-width: 41.5rem;
  margin: 0 auto $gutter-half;
}

.graphic-category {
  color: $color-grey;
  font-weight: $font-weight-bold;
  font-size: to-rem(12);
  line-height: $line-height-subtitle;
  letter-spacing: 0.05em;
  margin-bottom: $gutter-eighth;
  text-align: left;
  text-transform: uppercase;
}

.graphic-prose {
  font-size: to-rem(14);
  line-height: $line-height-body;
  max-width: 41.5rem;
  margin: 0 auto $gutter-half;
}

.graphic-footer {
  color: $color-grey;
  font-size: to-rem(12);
  max-width: 41.5rem;;
  margin: 0 auto $gutter-half;
}

.graphic-footer li {
  line-height: $line-height-body;
}
