// base (no output)
@import '@texastribune/queso-ui/assets/scss/1-settings/all';
@import '@texastribune/queso-ui/assets/scss/2-tools/all';
@import 'variables';
@import 'functions';
@import 'mixins';

// resets and root elements
@import '@texastribune/queso-ui/assets/scss/3-resets/all';
@import '@texastribune/queso-ui/assets/scss/4-elements/all';

// typography
@import '@texastribune/queso-ui/assets/scss/5-typography/all';
@import 'typography-queso';

// components
@import '@texastribune/queso-ui/assets/scss/6-components/all';
@import 'components/ads';
@import 'components/footer';
@import 'components/navbar';
@import 'components/ribbon';

// layout
@import '@texastribune/queso-ui/assets/scss/7-layout/all';
@import 'layout/container';

// utilities
@import '@texastribune/queso-ui/assets/scss/utilities/all';
