<header class="c-navbar c-navbar--dark">
  <div class="c-navbar__top l-align-center-x">
    <a href="https://www.texastribune.org" class="c-navbar__logo l-align-center-self">
      <span class="is-sr-only">The Texas Tribune</span>
      {% include 'includes/logo.html' %}
    </a>
    <div class="c-navbar__content">
      <div class="c-navbar__items l-align-center-children">
         <a href="https://support.texastribune.org/" class="c-button c-button--standard t-uppercase">
            <span class="t-size-xxs t-lsp-l">Donate</span>
          </a>
      </div>
    </div>
  </div>
</header>
