{% import 'macros/shares.html' as shares %}

<header class="masthead" role="banner">
  <a href="http://www.texastribune.org/">
    <img class="tribune-logo" src="https://apps.texastribune.org/assets/images/tt-logo-white.png" alt="The Texas Tribune">
  </a>
  <div class="masthead__actionables">
    <a class="masthead__actionable masthead__share masthead__share--facebook" href="{{ shares.facebook(CURRENT_PAGE_URL) }}">
      <svg class="icon icon-facebook">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <a class="masthead__actionable masthead__share masthead__share--twitter" href="{{ shares.twitter(CURRENT_PAGE_URL, context.tweet_text, '') }}">
      <svg class="icon icon-twitter">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    <p class="masthead__actionable masthead__donate"><a class="button button--small button--donate" href="https://support.texastribune.org/">Donate</a></p>
  </div>
</header>
