{% import 'macros/shares.html' as shares %}

<header class="masthead" role="banner">
  <a href="http://www.texastribune.org/">
    <img class="tribune-logo" src="https://apps.texastribune.org/assets/images/tt-logo-white.png" alt="The Texas Tribune">
  </a>
  {% if context.masthead_title %}<p class="masthead__title">{{ context.masthead_title }}</p>{% endif %}
  <div class="masthead__actionables">
    <p class="masthead__actionable masthead__donate"><a class="button button--small button--donate" href="https://support.texastribune.org/">Donate</a></p>
  </div>
</header>
