.button {
  background-color: transparent;
  border: to-rem(2) solid transparent;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans-serif;
  font-size: to-rem(16);
  font-weight: $font-weight-bold;
  letter-spacing: 0.07em;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 0.375em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.375em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(
    background-color 300ms $curve-standard,
    color 300ms $curve-standard,
    border-color 300ms $curve-standard
  );
  vertical-align: middle;
  white-space: nowrap;
}

.button--small {
  font-size: to-rem(10);

  @include mq($from: s) {
    font-size: to-rem(12);
  }
}

.button--share {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 0.25rem;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.25em;
}

.button--link {
  border: 0;
  padding: 0;
}

.button--yellow {
  background-color: $color-tribune-yellow;
  border-color: $color-tribune-yellow;
  color: $color-white;

  &:active,
  &:hover {
    background-color: $color-white;
    color: $color-tribune-yellow;
  }
}

.button--facebook {
  background-color: $color-facebook;
  border-color: $color-facebook;
  color: $color-white;

  &:active,
  &:hover {
    background-color: $color-white;
    color: $color-facebook;
  }
}

.button--twitter {
  background-color: $color-twitter;
  border-color: $color-twitter;
  color: $color-white;

  &:active,
  &:hover {
    background-color: $color-white;
    color: $color-twitter;
  }
}

.button--donate {
  background-color: $color-text-link;
  border-color: $color-text-link;
  color: $color-text;

  &:active,
  &:hover {
    background-color: $color-text-link-active;
    border-color: $color-text-link-active;
    color: $color-text-inverse;
  }
}
