.pill {
  border-radius: 2px;
  display: inline-block;
  font-family: $font-sans-serif;
  font-size: 70%;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
  padding: 0.2em 0.4em;
  vertical-align: middle;
  white-space: nowrap;
}

.circle-pill {
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  font-size: 0.75em;
  line-height: 1.5;
  text-align: center;
  vertical-align: top;
  padding: 0;
  border: none;
  font-weight: 700;
  display: inline-block;
}

.pill--basic {
  @include pill-variant($color-secondary);
}

.pill--rep {
  @include pill-variant($color-republican);
}

.pill--rep-light {
  @include pill-variant(lighten($color-republican, 10%));
}

.pill--dem {
  @include pill-variant($color-democrat);
}
